* {
  margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
}
body {
  background-color: #111;
  color: #fff;
  text-align: center;
}

h1 {
  padding-top: 200px;
  font-family: 'Rubik Microbe', cursive;
  font-weight: normal;
  font-size: 200px;
}

p {
  font-family: 'Megrim', cursive;
  font-size: 50px;
}
