* {
  margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
  line-height: 100%;
}
html, body {
  height: 100%;
}
body {
  background-color: #111;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}

i {

}

h1 {
  padding-top: 200px;
  font-family: 'Rubik Microbe', cursive;
  font-weight: normal;
  font-size: 200px;
}

p {
  font-size: 20px;
}

main {
  text-align: center;
}

/* nav burger */
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  position: absolute;
  top: 0;
  right: 0px;
  cursor: pointer;
  display: block;
  height: 70px;
  width: 70px;

  border-radius: 1px;
  transition: background 0.3s ease-in-out;
  z-index: 1;
}

label span {
  position: absolute;
  top: 34px;
  left: 22px;
  display: block;
  height: 2px;
  width: 26px;
  background: #fff;
  border-radius: 1px;
  transition: 0.2s;
}

label span:nth-child(1) {
  top: 26px;
}

label span:nth-child(2) {
  top: 42px;
}

nav {
  position: absolute;
  top: -100%;
  display: flex;
  background-color: #111;
  color: #333;
  width: 100%;
  text-align: center;
  line-height: 80px;
  font-size: 2em;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 0.3s ease-in-out;
  will-change: top;
}

nav p {
  padding: 20px;
  cursor: pointer;
  position: relative;
  color: #fff;
}

nav p:hover::before {
  content: ">";
  color: #fff;
  position: absolute;
  left: -20px;
}

/* Checked styles */
input[type=checkbox]:checked ~ nav {
  top: 0;
}

input[type=checkbox]:checked ~ label span:nth-child(1) {
  top: 34px;
  transform: rotate(-45deg);
}

input[type=checkbox]:checked ~ label span:nth-child(2) {
  top: 34px;
  transform: rotate(45deg);
}

input[type=checkbox]:checked ~ label span:nth-child(3) {
  opacity: 0;
}
